.hero {
  width: 100%;
  min-height: 700px;
  background: #f5f3f8;
  overflow: hidden;
  position: relative;
}

/* subtle background pattern */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image:
    radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0.025) 0,
      rgba(0, 0, 0, 0.025) 35px,
      transparent 35px
    );

  background-size: 140px 140px;

  opacity: 0.4;
  pointer-events: none;
}

.hero-container {
  max-width: 1440px;
  margin: 0 auto;

  min-height: 700px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 80px;

  position: relative;
  z-index: 2;
}

.hero-content {
  max-width: 760px;
}

.hero-title {
  font-size: 72px;
  line-height: 1.05;
  font-weight: 800;
  color: #111;

  margin-bottom: 42px;
}

.hero-description {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 400;
  color: #222;
}

.hero-highlight {
  color: #8c63d8;
  font-weight: 700;
}

.hero-image-wrapper {
  flex-shrink: 0;
}

.hero-image {
  width: 560px;
  max-width: 100%;
  display: block;
}

/* =====================
   Laptop
===================== */

@media (max-width: 1400px) {
  .hero-title {
    font-size: 60px;
  }

  .hero-image {
    width: 500px;
  }
}

/* =====================
   Tablet
===================== */

@media (max-width: 992px) {
  .hero-container {
    flex-direction: column;
    text-align: center;

    padding: 60px 30px;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-title {
    font-size: 48px;
    margin-bottom: 25px;
  }

  .hero-description {
    font-size: 24px;
  }

  .hero-image {
    width: 420px;
    margin-top: 40px;
  }
}

/* =====================
   Mobile
===================== */

/* @media (max-width: 576px) {
  .hero {
    min-height: auto;
  }

  .hero-container {
    padding: 40px 20px;
  }

  .hero-title {
    font-size: 34px;
    line-height: 1.15;
  }

  .hero-description {
    font-size: 20px;
    line-height: 1.6;
  }

  .hero-image {
    width: 100%;
    max-width: 320px;
  }
} */
 @media (max-width: 576px) {
  .hero {
    min-height: auto;
  }

  .hero-container {
    min-height: auto;

    padding: 30px 16px;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    gap: 10px;
  }

  /* LEFT SIDE */
  .hero-content {
    width: 58%;
    max-width: 58%;
  }

  .hero-title {
    font-size: 22px;
    line-height: 1.1;
     
    margin-bottom: 60px;
  }

  .hero-description {
    font-size: 18px;
    line-height: 1.45;
  }

  .hero-highlight {
    display: inline;
    font-size: 18px;
  }

  /* RIGHT SIDE */
  .hero-image-wrapper {
    width: 42%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* padding-top: 80px; */
  }

  .hero-image {
    width: 220px;
    max-width: none;

    padding-top: 60px;
    padding-left: 50px;
  }
}